<h1>About Page </h1>

<h3> Programmer: Claudia Borghini </h3>
<h3> Database count: </h3>
<p> Total Number of Scientists: <%= @scientists.count %><p>
<p> Total Number of Planets: <%= @planets.count %><p>